.menu-modal {
  /** Center the modal in the middle of the screen. */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 300px;

  animation: dropFromTop 0.5s 1;

  outline: none; // Hide border of the menu, so it seems that the elements are just floating.
  color: white;
  text-align: center;

  /** Button - one per line. */
  button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    border: 2px solid gold;
    border-radius: 30px;
  }

  button:active {
    background: gold;
  }

  button:disabled {
    color: gray;
  }

  button:not(:disabled) {
    cursor: pointer;
  }

  h1 {
    margin: 10px 0 0 0;
  }

  .times {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-size: 16px;
  }

  /** ListOfLevels subpage has many small buttons, multiple per line. */
  .list-of-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /** The buttons are smaller than the rest. */
    button {
      width: calc(20% - 5px);
      height: 34px;
      margin-top: 13.5px;
      overflow: hidden;

      /** The content of the small buttons changes from the level number to the best time. */
      div {
        height: 24px;
        animation: moveUp 3s 2s both;
      }

    }
  }

  /** Get ready text is centered in the middle of the screen. */
  .get-ready {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@keyframes moveUp {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

/** Menu slides in from the top of the screen. */
@keyframes dropFromTop {
  0%   { transform: translate(-50%, -150%); }
  100% { transform: translate(-50%, -50%); }
}

/** Overlay gradually becomes darker when menu is opened. */
@keyframes darken {
  0%   { background-color: rgba(0, 0, 0, 0); }
  100% { background-color: rgba(0, 0, 0, 0.7); }
}

.zoom-out {
  animation: zoomOut 1s ease-out 1;
}

/** Cleared and Failed texts zoom in from big as if it entered from front of the screen. */
@keyframes zoomOut {
  0%   { opacity: 0; }
  50%   { opacity: 1; transform: scale(3); }
  100% { opacity: 1; transform: scale(1); }
}

/** Dark overlay covering rest of the page while the menu is visible. */
.menu-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

  animation: darken 0.5s 1;
}

.highlight {
  animation: highlight 1s ease-in-out infinite alternate;
}

@keyframes highlight {
  0%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
