
/** Menu button is in the bottom-right corner of the screen. */
.menu-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  width: 32px;
  height: 32px;
  padding: 5px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 2px solid gold;
  border-radius: 30px;
  cursor: pointer;

  &:active {
    background: gold;
  }
}

.hamburger-symbol {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);
}
