
/** Timer is in the bottom-right corner of the screen above the menu button. */
.timer {
  position: absolute;
  bottom: 43px;
  right: 5px;
  z-index: 1;

  svg {
    display: block;
  }

  .star {
    position: absolute;
    width: 100%;
    line-height: 100%;
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: bold;

    &.vanished {
      animation: vanish 0.6s both;
    }
    
    @keyframes vanish {
      0%   { transform: scale(1); }
      100% { transform: scale(0); }
    }
  }

  circle {
    fill: transparent;
    stroke: gold;
    stroke-width: 2px;
    stroke-dasharray: 94.245; // 94 si the circle's circumference; calculated from its radius defined in the svg.
  }

}
