/** Global styles for entire application. */

/** Stretch all outer containers so that application covers entire screen. */
html, body, #app, #menu-blocker {
  height: 100vh;
  touch-action: none; // Disable all gestures.
}

body {
  user-select: none; // Prevent user selecting text.
  overflow-y: hidden; // Hides any extra content. Prevents scrolling when mobile phone buttons are displayed. Prevents refreshing the page by down gesture.
  margin: 0;
}
